<ion-modal-view>
	<div class="bar bar-header bar-stable">
	  <h1 class="title">Solicitar informaci&oacute;n</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeSendCardRequest();"></button>
	</div>
	<ion-content class="has-header">
		
	    <div class="row">
	    	<div class="col col-33 right vmiddle">Nombre</div>
	    	<div class="col col-67 left item-input-inset">
	    		<label class="item-input-wrapper maxwidth">
			      <input type="text" ng-model="datos.nombre" placeholder="Nombre">
			    </label>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="col col-33 right vmiddle">Teléfono</div>
	    	<div class="col col-67 left item-input-inset">
	    		<label class="item-input-wrapper maxwidth">
	    		   +504
			      <input type="tel" ng-model="datos.telefono" placeholder="98989898" style="width:80%;">
			    </label>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="col col-33 right vmiddle">Email</div>
	    	<div class="col col-67 left item-input-inset">
	    		<label class="item-input-wrapper maxwidth">
			      <input type="email" ng-model="datos.email" placeholder="nombre@empresa.com">
			    </label>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="col col-33 right vmiddle">Ciudad</div>
	    	<div class="col col-67 left item-input-inset">
	    		<label class="item-input-wrapper maxwidth">
			      <input type="text" ng-model="datos.ciudad" placeholder="Ingresa la ciudad">
			    </label>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="col col-33 right vmiddle">Identidad</div>
	    	<div class="col col-67 left item-input-inset">
	    		<label class="item-input-wrapper maxwidth">
			      <input type="text" ng-model="datos.identidad" placeholder="Ingresa tu identidad">
			    </label>
	    	</div>
	    </div>

		<div class="row">
			<div class="col">
				<button class="button button-block button-assertive-custom" style="margin:0px;" ng-click="sendCardRequest()">Enviar</button>
			</div>
		</div>

	</ion-content>
</ion-modal-view>