<ion-modal-view>
	<div class="bar bar-header bar-assertive">
	  <h1 class="title">Omerhsa</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeModalOmerhsa();"></button>
	</div>
	<ion-content class="has-header">

		

		<div class="list card">
				<div class="item item-text-wrap">
						<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/Banners Toyota-15.jpg" >
						</div>
					
						<div class="item item-body">

								<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/seguros-omers.png" >

							<!-- <h1 class="entry-title">Omerhsa
							</h1> -->

							<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/casa.png" >

							<h2 class="entry-title" style="text-align: center"><strong>SEGUROS DE HOGAR</strong>
							</h2>



							<h3 class="entry-title"><strong>Coberturas:</strong>
							</h3>
							
							<li>Incendio y/o rayo </li>
							<li>Perdidas o daños materiales por Terremoto, temblor y/o erupción volcánica e incendio consecutivo.</li>
							<li>Perdidas o daños materiales por Explosión</li>
							<li>Perdidas o daños materiales por motín Huelgas y/o alborotos populares</li>
							<li>Perdidas o daños materiales por Caída de naves áreas, objetos caídos de la misma y/o colisión de vehículos terrestres.</li>
							<li>Pérdidas o daños materiales por Huracán, tifón, tornado, ciclón, vientos tempestuosos y/o granizo.</li>
							<li>Pérdidas o daños materiales por Inundación, maremoto y/o reboso de mar.</li>
						</br>
						</br>

						<h3 class="entry-title"><strong>Asistencia por:</strong>
						</h3>

						<li><strong>Plomeria:</strong> Reparación de rotura de tuberías, llaves u otras instalaciones fijas.</li>
						<li><strong>Recambio de vidreos y cristales:</strong> Reposición e instalación de vidrios y cristales de la estructura del hogar que hayan sufrido daños por rotura.</li>
						<li><strong>Electricidad:</strong> Reparaciones por cortocircuito, o restitución de suministro eléctrico de la vivienda.</li>
						<li><strong>Seguridad:</strong> En caso de emergencia, cuenta con servicio de vigilancia que garantice la seguridad de su familia y sus bienes.</li>
						<li><strong>Hospedaje por inhabitabilidad:</strong> Estarán cubiertos los gastos de alojamiento en Hotel, en caso de que la vivienda resulte inhabitable tras cualquier evento cubierto por esta póliza</li>
						<li><strong>Translado de emergencia en ambulancia:</strong> Servicio urbano de Ambulancia hasta el centro Hospitalario de preferencia para los residentes del hogar, personal doméstico y visitantes.</li>
					</br>

					<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/salud-salud.png" >


					<h2 class="entry-title" style="text-align: center"><strong>SEGURO RESPONSABILIDAD CIVIL PARA VEHICULO</strong>
					</h2>



					<h3 class="entry-title"><strong>Coberturas:</strong>
					</h3>
					
					<li>Responsabilidad civil daños a terceros en sus bienes</li>
					<li>Responsabilidad civil por daños a terceros en sus personas</li>
					<li>Indemnización por pérdida accidental de vida, extremidades, de la vista o incapacidad toal o permanente por accidente, por cada ocupante.</li>
					<li>Reembolso de gastos médicos por accidente por ocupante.</li>
				</br>

				<h3 class="entry-title"><strong>Asistencia por:</strong>
				</h3>

				<li>Asistencia en el lugar del accidente</li>
				<li>Asistencia vial</li>
				<li>Servicios de Grúa</li>
				<li>Cambio de llanta</li>
				<li>Servicio de cerrajería</li>
				</br>
			   


				<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/carro.png" >


					<h2 class="entry-title" style="text-align: center"><strong>SEGURO DE VEHÍCULO</strong>
					</h2>



					<h3 class="entry-title"><strong>Coberturas:</strong>
					</h3>
					
					<li>Colisión, vuelcos y accidentes.</li>
					<li>Incendio, auto-incendiado, huelgas y alboroto populares.</li>
					<li>Rotura de cristales.</li>
					<li>Gastos médicos para ocupantes del vehículo.</li>
					<li>Cobertura por muerte accidental e incapacidad permanente.</li>
				</br>

				<h3 class="entry-title"><strong>Asistencia por:</strong>
				</h3>

				<li>Asistencia en el lugar del accidente.</li>
				<li>Asistencia vial.</li>
				<li>Servicios de Grúa.</li>
				<li>Servicio de asesoría legal.</li>
				<li>Cambio de llanta.</li>
				<li>Servicio de cerrajería.</li>
				</br>
			   
				
				





						</div>
				
		</div>


		

	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive">			
			<div class="bar bar-footer bar-assertive" style="padding:0px;">
					<button class="button button-block button-assertive-custom" style="margin:0px;" ng-click="CallTel('2216-4000')" >Llamar</button>
				</div>
	</ion-footer-bar>
</ion-modal-view>