<ion-modal-view>
	<div class="bar bar-header bar-assertive">
	  <h1 class="title">Omerhsa</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeModalOmerhsa();"></button>
	</div>
	<ion-content class="has-header">

		

		<div class="list card">
				<div class="item item-text-wrap">
						<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/Banners Toyota-15.jpg" >
						</div>
					
						<div class="item item-body">
							<h1 class="entry-title">Omerhsa
							</h1>

							
							<p>Corporación Flores una empresa del conglomerado automotriz de Grupo Flores, líderes en el rubro a nivel nacional, dedicados  a la importación y distribución de vehículos de la marca Lexus y Toyota, la marca no. 1 preferida por los Hondureños.
							</p>
							
							<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/Banners Toyota-16.jpg" >
						</br>
							<p>La empresa tiene sus orígenes desde 1923, donde inició operaciones como Garaje Flores, liderando el segmento automotriz de las era, evolucionando en su potencial histórico, es que en 1941 se constituye como Valentín Flores y Cía., creando una marca solida de servicios y productos en el mercado. La solidez, confianza y respaldo de la Familia Flores y la experiencia y posicionamiento en el rubro, fueron sin duda algunos de los factores que permitieron que en 1956, Toyota Motor Corporation, otorgara la distribución exclusiva de su marca para Honduras, siendo la segunda empresa en Latinoamérica en contar con tal distinción.
							</p>
						
						<p>Como parte de la exitosa trayectoria en ventas, en 1992, nace Corporación Flores, como conglomerado en la comercialización de vehículos de la marca Toyota, asi como la atención de servicios de taller y productos automotrices, exclusivos para la marca.
						</p>
					
					<p>Adoptando los pilares de la marca Toyota, orientados a la mejora continua y a nuestro valor primordial, “El cliente primero”, contamos con los mejores estándares de servicio, mano de obra altamente calificada y certificada, de acuerdo a las más estrictas normas de calidad y el mejor talento humano!
					</p>
				
				<p>En Corporación Flores, buscamos clientes para toda la vida, por esta razón nos esmeramos en contar con la más alta tecnología, innovación y seguridad en nuestros vehículos, los mejores servicios en nuestros talleres de mecánica, pintura y taller móvil, Repuestos legítimos Toyota, así como poner a disposición de nuestros clientes una amplia gama de productos automotrices, como ser: lubricantes de las marcas Toyota Motor Oil y Quaker State, baterías Panasonic, llantas Kenda y Yokohama, entre otros… que nos han distinguido también con la confianza de franquiciar sus marcas de manera exclusiva para el país.
				</p>
			
			<p>Adicionalmente, contamos una oferta de servicios financieros, como ser los mejores  seguros a través de nuestra propia correduría: OMERHSA, así como nuestra opción de CrediFlores, la mejor opción de crédito interno, que cuenta con las mejores cuotas y beneficios.
			</p>
		
			<p>Adicionalmente, contamos una oferta de servicios financieros, como ser los mejores  seguros a través de nuestra propia correduría: OMERHSA, así como nuestra opción de CrediFlores, la mejor opción de crédito interno, que cuenta con las mejores cuotas y beneficios.
			</p>
		
		<p>Por esto y mucho más en Corporación Flores, agradecemos la confianza y preferencia de nuestros clientes, quienes nos permiten continuar siendo líderes en el rubro automotriz en el país, a la vez que nos sentimos orgullosos de ser a principal solución de transporte de las familias y empresas en Honduras.
		</p>
	
	<p>En Corporación Flores creemos que solo unidos podemos hacer crecer el desarrollo de nuestro país!</p>





						</div>
				
		</div>


		

	</ion-content>
</ion-modal-view>