<ion-modal-view>
	<div class="bar bar-header bar-assertive">
	  <h1 class="title">Toyota Honduras</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeModalToyota();"></button>
	</div>
	<ion-content class="has-header">

		

		<div class="list card">
				<div class="item item-text-wrap">
						<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/Banners Toyota-15.jpg" >
						</div>
					
						<div class="item item-body">
							<h1 class="entry-title">Nosotros</h1>

							<h3><strong>Nacimiento de una marca líder: TOYOTA</strong></h3>
							<p>El fundador de Toyota Motor Corporation fue Kiichiro Toyoda. El padre de Kiichiro, Sakichi Toyoda era un inventor de telares automáticos, pero como tenía la firme creencia de que “esta es la era del automóvil”, quiso iniciar la producción de automóviles. Sin embargo, no fue capaz de ver el desarrollo del sector a lo largo de su vida, por lo que Kiichiro se convirtió en el sucesor del sueño de su padre y comenzó a producir vehículos para el mercado nacional japonés.</p>
							<p>En 1937 se funda Toyota Motor Co., Ltd., para 1938 la planta de fabricación Koromo comienza a funcionar (actualmente la planta de Honsha) permitiendo que en 1950 se funde Toyota Motor Sales Co., Ltd. Propiciando que en 1957 se exporte el primer coche de pasajeros japonés (CROWN) a Estados Unidos. Llegando a 1962 la fabricación total de vehículos Toyota en el ámbito nacional llega a 1 millón, diez años más tarde la fabricación total de vehículos Toyota en el ámbito nacional llega a 10 millones y para 1979 ya se exportaban 10 millones de vehículos.</p>
							<p>Toyota Motor Co., Ltd. y Toyota Motor Sales Co., Ltd. se funden en 1982 para crear “Toyota Motor Corporation” y para 1986 la fabricación total de vehículos Toyota en el ámbito nacional llegaba a 50 millones y en 1999 la fabricación total de vehículos Toyota en el ámbito nacional llega a 100 millones.</p>
							
							<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/Banners Toyota-16.jpg" >
							<h3><strong>Reseña histórica de Corporación Flores y Afiliadas</strong></h3>
							<p>Honduras no fue la excepción de la revolución automotriz y aunque la historia de Corporación Flores y sus empresas afiliadas no nace propiamente distribuyendo la marca Toyota, actualmente es una de los estandartes de la exitosa trayectoria en el mercado hondureño.</p>
							<p>Los inicios de esta Corporación se remontan a 1923 cuando como resultado de una trayectoria iniciada por su fundador Valentín Flores Cabrera se establece como Garaje Flores distribuyendo varias marcas como: Essex Motor, Hudson Motor, Nash Motor, Willy´s Sport Corporation.</p>
							<p>Garaje Flores se constituye en una empresa denominada Valentín Flores y Compañía en 1941. El camino para la distribución exclusiva de Toyota comienza en 1956 convirtiéndose así en la marca de mayor aceptación en Honduras, razón por la cual se posiciona como marca líder del mercado automotriz en el país, y para 1992 Valentín Flores y Compañía se convierte en una empresa financiera del grupo y es a partir de ese año que el grupo de empresas se constituye con el nombre de Corporacion Flores S. A.</p>
							<p>Su oficina principal esta en Tegucigalpa y cuenta con sucursales en San Pedro Sula, Choluteca y la Ceiba. Así mismo en 1997 se inaugura una sala de exhibición de vehículos en el complejo automotriz Corporacion Flores S. A. Palmira en la ciudad de Tegucigalpa, con el propósito de &nbsp;ofrecer al cliente mayor seguridad y proporcionarle servicios adicionales tales como servicio de lubricación, afinamiento y alquiler de vehículos.</p>
							<h3><strong>Razón Social</strong></h3>
							<p>La razón social es Corporación Flores S. A., es una Sociedad Anónima, iniciando las actividades en 1942 como grupo corporativo. La finalidad principal de la sociedad es la importación y distribución de vehículos, venta de repuestos y la prestación del servicio de reparación y mantenimiento de vehículos.</p>
							<p>Actualmente, Corporacion Flores S. A., cuenta con dos accionistas. El Capital Social Inicial de la sociedad es de cien mil lempiras, el cual está dividido en dos partes sociales igualitarias del cincuenta por ciento aportado por cada socio accionista, el cual fue íntegramente suscrito y pagado en su totalidad.</p>
							<h3><strong>Descripción General</strong></h3>
							<p>Corporación Flores S. A., es una empresa dedicada&nbsp; a la importación y distribución de vehículos de la marca Toyota y Lexus, utilizando la más alta tecnología y mano de obra calificada disponible, teniendo un gran compromiso de ofrecer seguridad , responsabilidad y calidad en los servicios para contribuir al desarrollo de nuestro país. Corporación Flores S. A. adopto la filosofía y simbología internacional de la marca Toyota la cual se apunta a continuación: “Estamos aquí para ayudar al mundo a trabajar…a trabajar como nunca antes se ha hecho”. Lo lograremos simplemente siendo quienes somos, un grupo de apasionados perfeccionistas comprometidos.</p>
						</div>
				
		</div>


		

	</ion-content>
</ion-modal-view>