<ion-modal-view>
	<div class="bar bar-header bar-stable"> 
		<h1 class="title">Prueba de Manejo</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closePruebaManejo();"></button>
	</div>
	<ion-content class="has-header">

		

		<div class="list">
				<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/pruebaManejo.jpg" >	

				<div class="row">
						<div class="col">
							<div class="list card" style="box-shadow:none;margin:0px !important; color:#000;">
								<h3>{{quote.car.nombre}}</h3>
								<p>Informaci&oacute;n de contacto</p>
							</div>
						</div>
					</div>


				<label class="item item-input">
					<span class="input-label">Nombre</span>
					<input type="text" ng-model="quote.nombre" placeholder="Nombre">
				</label>
				<label class="item item-input">
					<span class="input-label">Apellido</span>
					<input type="text" ng-model="quote.apellido" placeholder="Apellido">
				</label>
				<label class="item item-input">
					<span class="input-label"># Identidad</span>
					<input type="text" ng-model="quote.identidad" placeholder="0801190010000">
				</label>
				<label class="item item-input">
					<span class="input-label">Teléfono</span>
					<input type="tel" ng-model="quote.telefono" placeholder="98989898" style="width:80%;">					
				</label>
				<label class="item item-input">
					<span class="input-label">Email</span>
					<input type="email" ng-model="quote.email" placeholder="nombre@empresa.com">
				</label>
				<label class="item item-input item-select custom-select">
					<div class="input-label">
						Sucursal
					</div>
					<select ng-model="sucursal" ng-options="sucursal.nombre as (sucursal.nombre) for sucursal in sucursales" ng-change="updateSucursal()"> 
						<!-- <option ng-repeat="sucursalPrueba in sucursalesPrueba">{{sucursalPrueba.nombre}}</option> -->
						<option></option>
					</select>
				</label>
				<label class="item item-input item-select custom-select">
					<div class="input-label">
						Modelo
					</div>
					<select ng-model="modelo" ng-options="modelo.nombre as (modelo.nombre) for modelo in modelos" ng-change="updateModelo()">
						<!-- <option ng-repeat="modeloPrueba in modelosPrueba">{{modeloPrueba.nombre}}</option> -->
						<option></option>
					</select>
				</label>
				<label class="item item-input">
					<span class="input-label">Comentarios</span>
					<input type="text" ng-model="quote.comentarios" placeholder="Sus Comentarios">					
				</label> 
		</div>


		<div class="row">
			<div class="col">
				<button class="button button-block button-assertive-custom button-full" style="margin:0px;" ng-click="sendPruebaManejo()">Enviar</button>
			</div>
		</div>

	</ion-content>
</ion-modal-view>