<ion-modal-view class="custom-modal">
	<div class="bar bar-header bar-stable">
			<h1 class="title">Redes Sociales</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeRedesSociales();"></button>
	</div>

	
	

  <ion-content class="has-header">
  	<div class="row">
		<div class="col centered">
			<img src="img/social-media.jpg" style="width:100%"><br>
		</div>
  	</div>

			<label class="item" style="border:0px;">
      <button class="button button-block button-assertive-custom-facebook button-icon icon ion-social-facebook icon-custom-margin" ng-click="openFacebook();">Facebook</button>
		</label>
		
			<label class="item" style="border:0px;">
				<button class="button button-block button-assertive-custom-twitter button-icon icon ion-social-twitter icon-custom-margin" ng-click="openTwitter();">Twitter</button>
			</label>

		<label class="item" style="border:0px;">
				<button class="button button-block button-assertive-custom-instagram button-icon icon ion-social-instagram icon-custom-margin" ng-click="openInstagram();">Instagram</button>
			</label>

		<label class="item" style="border:0px;">
				<button class="button button-block button-assertive-custom-youtube button-icon icon ion-social-youtube icon-custom-margin" ng-click="openYoutube()">Youtube</button>
			</label>
			

  </ion-content>
</ion-modal-view>
