<ion-view view-title="VEHÍCULOS" hide-nav-bar="true">
<div class="bar bar-header bar-assertive">
  <div class="buttons">
		<a class="button button-icon icon ion-arrow-left-c" href="#/app/main"></a>
		<h1 class="title">Vehículos</h1>
  </div>
  
  <div class="buttons">
  </div>
</div>
	<ion-content class="has-header">
		<img class="full-image" style="margin: 0 !important; padding: 0 !important;" src="img/banners/autos.jpg" >			
		<div class="list">
				
					<a class="item item-thumbnail-left item-icon-right" ng-repeat="tipo in vehiculos" href="#/app/main/vehiculos/vehiculos_cat/{{tipo.id}}">
						<img src="img/icons-cars/{{$index}}.png" id="item{{car.id}}">
						<p class="item-text-center item-text-wrap" style="font-size: large;">{{tipo.nombre}}</p>
						<i class="icon ion-ios-arrow-right"></i>
					</a>
				
				</div>

		<div class="list" ng-show="error">
		  <div class="item item-button-right" style="white-space:inherit;">
		    Ocurrio un error en la red, ¿Quiere intentar de nuevo?
		    <button class="button button-assertive-custom" ng-click="getCategories()">
		      Si
		    </button>
		  </div>
		</div>
		
	</ion-content>

</ion-view>
