/*PUBLICIDAD MEDIDA 320x80 600x80*/
/*INICIO FUENTES PROPIAS*/
@font-face {
    font-family: "AvenirLTStd";
    src: url("fonts/AvenirLTStd-Light.otf");
}
@font-face {
    font-family: "AvenirLTStd";
    src: url("fonts/AvenirLTStd-Heavy.otf");
    font-weight: bold;
}
/*FIN FUENTES PROPIAS*/
/*INICIO QUERY ADS*/
.toolbar-background {
	background-color: blue;
  }

*{
	font-family: 'AvenirLTStd' !important;
}
.fix-map .scroll{
	height: 100%;
}
.bgtoyota{
	background-size: 100% ;
	background-repeat: no-repeat;
	background-image: url(../img/background2.jpg) !important;
}
.icon-custom-margin:before{
	margin-right:10px;
}
.item-custom-icon:after{
	color:#FFF !important;
}
input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly]{
	background: transparent;
}
input[type="text"]{
	width:100%;
}
.bar .title {
	font-weight: bold;
}
.adsSmall, .adsLarge {
	height: 80px;
	width: 100%;
	display: none;
	background-size: auto 80px;
	background-position: center center;
	background-repeat: no-repeat; 
}
@media (max-width: 599px) {
  .adsSmall {
    display: block;
  }
}
@media (min-width: 600px) {
  .adsLarge {
    display: block;
  }
}
/*FIN QUERY ADS*/
/* Empty. Add your own CSS if you like */
.button.button-assertive-custom {
    border-color: #C5000F;
    background-color: #C5000F;
    color: #fff;
}

.button.button-assertive-custom-facebook {
    border-color: #4267b2;
    background-color: #4267b2;
    color: #fff;
}

.button.button-assertive-custom-instagram {
    border-color: #003569;
    background-color: #003569;
    color: #fff;
}

.button.button-assertive-custom-youtube {
    border-color: #C5000F;
    background-color: #C5000F;
    color: #fff;
}


.button.button-assertive-custom-twitter {
    border-color: #1da1f2;
    background-color: #1da1f2;
    color: #fff;
}





.item-custom {
	padding:20px !important;
	background-color:rgb(255, 255, 255);
	font-size:16px;
	color:#C5000F;
}

a{
	text-decoration: none !important;
	color:white;
}
.item-radio .item-content{
	padding-right:0px;
	padding-left: 64px;
}
.item-radio .radio-icon{
	right:inherit;
	left:0px;
	color:#c2000b;
}
.custom-select{
    margin: 0;
    border-radius: 0;
    border-color: #d8d8d8;
    border-width: 1px;
}
.custom-select .input-label{
	text-align: left;
}
.btn-camera{
	background-image: url(../img/botones/camara.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	width: 50px;
	height: 50px;
	float: right;
	margin-top:-60px;
	margin-right: 10px;
	position: relative;
	z-index:2;
}
.image-car{
	width:100%;
	position:relative;
	z-index: 1;
	margin-top: -47px;
}
.modal-backdrop-bg{
	background-color: rgba(0,0,0,0.6);
}
.custom-modal{
	min-height: 90% !important;
	top:5% !important;
	width: 90% !important;
	left:5% !important;
}
body, .bgcolor1{
	background-color: #e7e6e6 !important;
}
.col {
	text-align: center;
}
.custom-footer{
	height:80px;
}
.has-custom-footer{
	bottom:80px;
}
.centered {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.vmiddle{
	line-height: 30px;
}
.maxwidth{
	max-width: 400px;
}
.logo1{
	margin-left: 10px;
}
.logo1,.logo2{
	margin:0;
	margin-bottom: 20px;
}
.logo2{
	margin-right: 10px;
}
.logo1 img{
	width:100%;
	max-height:500px;
	float:left;
	bottom:0;
}
.logo2 img{
	width:85%;
	max-height: 250px;
}
.icono{
	width:70%; 
}
.bar.bar-assertive.bar-footer {
    background-image: linear-gradient(180deg, #c2000b, #0c60ee 50%, transparent 50%);
}
.bar.bar-assertive {
	border-color: #B5000A;
    background-color: #c2000b;
}
.button.button-assertive-custom {
    border-color: #C5000F;
    background-color: #C5000F;
    color: #fff;
}

/*NEW CHANGES*/
/*i.ion-android-car{ font-size: xx-large; color : red; }*/

.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.customized-image{
	max-height: 50px !important;
	max-width: 50px !important;
  }

  .bar-header{
	height: 50px;
  }
  
  .has-header{
	top:50px;
  }

  .bar-header h1.title{
	top:5px;
  }

  .button-right{
	display: block !important;
	width: 100% !important;
	text-align:right !important;
  }

  /* Acorddion Styles */
	/*
	* https://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
	*/
	.list .item.item-accordion {
		line-height: 38px;
		padding-top: 0;
		padding-bottom: 0;
		transition: 0.09s all linear;
	}
	.list .item.item-accordion.ng-hide {
		line-height: 0px;
	}
	.list .item.item-accordion.ng-hide-add,
	.list .item.item-accordion.ng-hide-remove {
		display: block !important;
	}
  

	/* Custom Styles App Update*/